
@{
    /**/
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-bottom:30px;" class="container">
    <div class="accordion">
        <div class="accordion-item">
            <a class="active">QAROCO NEDİR?</a>
            <div class="content active">
                <p>QAROCO, kullanıcılarının yaptığı internet alışverişlerinin teslimatını veya A noktasından B noktasına göndermek istediği kargoları, şube sistemine bağlı kalmadan 7 gün 24 saat sisteme kayıtlı kendi araçlarıyla freelance ya da tam zamanlı dağıtım yapan Qaroco bünyesinde eğitilen sürücüler ile hızlı teslimatı anlık takip sistemiyle kullanıcılarına sunan bir hizmettir..</p>
            </div>
        </div>
        <div class="accordion-item">
            <a>QAROCO'YU NASIL KULLANIRIM?</a>
            <div class="content">
                <p>QAROCO, kullanıcıların göndermek istediği kargoları şube sistemine bağlı kalmadan, aplikasyon üzerinden, sisteme kendi araçları ile kayıtlı olan sürücüler ile eşleyerek en hızlı teslimatın gerçekleştirilmesini sağlayan girişimdir.</p>
            </div>
        </div>
        <div class="accordion-item">
            <a>QAROCO'DAN PARA KAZANABİLİR MİYİM?</a>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
        </div>
        <div class="accordion-item">
            <a>QAROCO'YA NASIL ÜYE OLABİLİRİM?</a>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
        </div>
    </div>

</div>